################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/GLGraphLib_DotNet6/bin/Debug/net6.0-windows
/GLGraphLib_DotNet6/obj
/GLGraphLib/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/GLGraphLib/obj/Debug/GeneratedInternalTypeHelper.g.cs
/GLGraphLib/obj/Debug/GLGraphLib.csproj.AssemblyReference.cache
/GLGraphLib/obj/Debug/GLGraphLib.csproj.CoreCompileInputs.cache
/GLGraphLib/obj/Debug/GLGraphLib.csproj.FileListAbsolute.txt
/GLGraphLib/obj/Debug/GLGraphLib.csproj.GenerateResource.cache
/GLGraphLib/obj/Debug/GLGraphLib.dll
/GLGraphLib/obj/Debug/GLGraphLib.g.resources
/GLGraphLib/obj/Debug/GLGraphLib.pdb
/GLGraphLib/obj/Debug/GLGraphLib_MarkupCompile.cache
/GLGraphLib/obj/Debug/GLGraphLib_MarkupCompile.i.cache
/GLGraphLib/obj/Debug/GLGraphLib_MarkupCompile.i.lref
/GLGraphLib/obj/Debug/GLGraphLib_MarkupCompile.lref
/GLGraphLib/obj/Debug/SpectrumChart.baml
/GLGraphLib/obj/Debug/SpectrumChart.g.cs
/GLGraphLib/obj/Debug/SpectrumChart.g.i.cs
